<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-eqiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title><%= profile.name %> - Circle of Roomies</title>

  <link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css">
  <link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css">

</head>
<body>
  <!-- The navigation bar -->
  <header class="text-gray-600 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-yellow-500 rounded-full" viewBox="0 0 24 24">
          <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
        </svg>
        <span class="ml-3 text-xl">Circle Of Roomies</span>
      </a>
      <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400	flex flex-wrap items-center text-base justify-center">
        <a href="/" class="mr-5 hover:text-gray-900">Home</a>
        <a href= "/#about-section" class="mr-5 hover:text-gray-900">About us</a>
        <!-- <a href="/gallery" class="mr-5 hover:text-gray-900">Gallery</a> -->
        <a href= "/#contact-section" class="mr-5 hover:text-gray-900">Contact us</a>
      </nav>
    </div>
  </header>
  <br><br>
  <!-- -->

<div class="h-full">
  <div class="border-b-2 block md:flex">
    <div class="w-full md:w-2/5 p-4 sm:p-6 lg:p-8 bg-white shadow-md">
      <div class="flex justify-between">
        <span class="text-xl font-semibold block">User Profile</span>
        <a id="edit-btn" class="-mt-2 text-md font-bold text-white bg-gray-700 rounded-full px-5 py-2 hover:bg-gray-800">Save</a>
      </div>

      <span class="text-gray-600">This information is secret so be careful</span>
      <div class="w-full p-8 mx-2 flex justify-center">
        <% if (profile.pfp) { %>
        <img class="shadow-xl rounded-full h-auto align-middle border-none absolute max-w-xs w-32 items-center" src="/media/pfp/<%= profile.pfp %>" alt="profile picture"> 
        <% } else { %>
        <img class="shadow-xl rounded-full h-auto align-middle border-none absolute max-w-xs w-32 items-center" src="/media/blank_pfp.jpg" alt="...">
        <% } %>                    
        </div>
    </div>
    
    <div class="w-full md:w-3/5 p-8 bg-white lg:ml-4 shadow-md">
      <div class="rounded  shadow p-6">
        <div class="pb-6">
          <label for="edit-name-input" class="font-semibold text-gray-700 block pb-1">Name</label>
          <div class="flex">
            <input id="edit-name-input" class="border-1  rounded-r px-4 py-2 w-full" type="text" value="<%= profile.name %>" />
          </div>
        </div>
        <div class="pb-4">
          <label for="edit-email-input" class="font-semibold text-gray-700 block pb-1">Email</label>
          <input disabled id="edit-email-input" class="border-1  rounded-r px-4 py-2 w-full" type="email" value="<%= profile.email %>" />
        </div>
        <div class="pb-4">
          <label for="edit-city-input" class="font-semibold text-gray-700 block pb-1">City</label>
          <input id="edit-city-input" class="border-1  rounded-r px-4 py-2 w-full" type="text" value="<%= profile.city %>" />
        </div>
        <div class="pb-4">
          <% const states = ["Andhra Pradesh", "Arunachal Pradesh", "Assam", "Bihar", "Chhattisgarh", "Goa", "Gujarat", "Haryana", "Himachal Pradesh", "Jharkhand", "Karnataka", "Kerala", "Madhya Pradesh", "Maharashtra", "Manipur", "Meghalaya", "Mizoram", "Nagaland", "Odisha", "Punjab", "Rajasthan", "Sikkim", "Tamil Nadu", "Telangana", "Tripura", "Uttar Pradesh", "Uttarakhand", "West Bengal"]; %>
          <label for="edit-state-input" class="font-semibold text-gray-700 block pb-1">State</label>
          <select id="edit-state-input" class="border-1  rounded-r px-4 py-2 w-full">
            <option value="<%= profile.state %>" selected="selected"><%= profile.state %></option>
            <% states.forEach((element) => { if (element != profile.state) { %>
            <option value="<%= element %>"><%= element %></option>
            <% }}); %>
          </select>
        </div>
        <div class="pb-4">
          <label for="edit-social-input" class="font-semibold text-gray-700 block pb-1">Social link</label>
          <input id="edit-social-input" class="border-1  rounded-r px-4 py-2 w-full" type="text" value="<%= profile.social_link %>" />
        </div>
        <div class="pb-4">
          <label for="edit-bio-input" class="font-semibold text-gray-700 block pb-1">Bio</label>
          <textarea id="edit-bio-input" class="border-1  rounded-r px-4 py-2 w-full" type="text" placeholder="<%= profile.bio %>">
          </textarea>
        </div>
        <span class="text-gray-600 pt-4 block opacity-70">Keep the data accurate for more accurate match results...<br>For changing password or email address, send email to the admin@circleofroomies.com</span>
      </div>
    </div>
  </div>
</div>
<br><br>

  <!-- The footer section -->
  <footer class="text-gray-600 body-font">
    <div class="border-t border-gray-200">
      <div class="container px-5 py-8 flex flex-wrap mx-auto items-center">
        <span class="inline-flex lg:ml-auto lg:mt-0 mt-6 w-full justify-center md:justify-start md:w-auto">
          <a class="text-gray-500">
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
            </svg>
          </a>
          <a class="ml-3 text-gray-500">
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
            </svg>
          </a>
          <a class="ml-3 text-gray-500">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
              <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
            </svg>
          </a>
          <a class="ml-3 text-gray-500">
            <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
              <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
              <circle cx="4" cy="4" r="2" stroke="none"></circle>
            </svg>
          </a>
        </span>
      </div>
    </div>
    <div class="bg-gray-100">
      <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
        <p class="text-gray-500 text-sm text-center sm:text-left">© 2023 Cirlce Of Roomies —
          <a href="https://twitter.com/knyttneve" class="text-gray-600 ml-1" target="_blank" rel="noopener noreferrer">@shubhamsingh, @siddhisingh</a>
        </p>
        <span class="sm:ml-auto sm:mt-0 mt-2 sm:w-auto w-full sm:text-left text-center text-gray-500 text-sm">Live a happy hostel life!</span>
      </div>
    </div>
  </footer>
  <!-- -->

  <!-- The required javascript -->
  <script type="text/javascript" src="/js/basic.js"></script>
  <script type="text/javascript" src="/js/profile_edit.js"></script>
  <!--  -->
</body>
</html>