<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-eqiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title><%= profile.name %> - Circle of Roomies</title>

  <link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css">
  <link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css">

</head>
<body>
  <!-- The navigation bar -->
  <header class="text-gray-600 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-yellow-500 rounded-full" viewBox="0 0 24 24">
          <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
        </svg>
        <span class="ml-3 text-xl">Circle Of Roomies</span>
      </a>
      <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400	flex flex-wrap items-center text-base justify-center">
        <a href="/" class="mr-5 hover:text-gray-900">Home</a>
        <a href= "/#about-section" class="mr-5 hover:text-gray-900">About us</a>
        <!-- <a href="/gallery" class="mr-5 hover:text-gray-900">Gallery</a> -->
        <a href= "/#contact-section" class="mr-5 hover:text-gray-900">Contact us</a>
      </nav>
      <% if ((user_id) && (user_id != profile.id)) { %>
      <a class="inline-flex items-center bg-yellow-500 text-white border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0" href="/profile?id=<%= user_id %>">Your profile
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
          <path d="M5 12h14M12 5l7 7-7 7"></path>
        </svg>
      </a>
      <% } else if ((user_id) && (user_id == profile.id)) { %>
      <a class="inline-flex items-center bg-yellow-500 text-white border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0" href="/profile/edit">Edit profile
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
          <path d="M5 12h14M12 5l7 7-7 7"></path>
        </svg>
      </a>
      <% } else { %>
      <a class="inline-flex items-center bg-yellow-500 text-white border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0" href="/login">Register
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
          <path d="M5 12h14M12 5l7 7-7 7"></path>
        </svg>
      </a>
      <% } %>
    </div>
  </header>
  <!-- -->

  <!-- The main part of the page where we display the profile information of the user -->
  <section class="pt-16 bg-blueGray-50">
    <div class="w-full lg:w-4/12 px-4 mx-auto">
      <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-xl rounded-lg mt-16">
        <div class="px-6">
          <div class="flex flex-wrap justify-center">
            <div class="w-full px-4 flex justify-center">
              <div class="relative">
                <% if (profile.pfp) { %>
                <img alt="profile-picture" id="pfp" src="/media/pfp/<%= profile.pfp %>" class="shadow-xl rounded-full h-auto align-middle border-none absolute -m-16 -ml-20 lg:-ml-16 max-w-150-px">
                <% } else { %>
                <img alt="profile-picture" id="pfp" src="/media/blank_pfp.jpg" class="shadow-xl rounded-full h-auto align-middle border-none absolute -m-16 -ml-20 lg:-ml-16 max-w-150-px">
                <% } %>
              </div>
            </div>
          </div>
          <br>
          <div class="text-center mt-20">
            <h3 class="text-xl font-semibold leading-normal mb-2 text-blueGray-700 mb-2"><%= profile.name %></h3>
            <div class="text-sm leading-normal mt-0 mb-2 text-blueGray-400 font-bold uppercase">
              <i class="fas fa-map-marker-alt mr-2 text-lg text-blueGray-400"></i>
              <%= profile.city %>
            </div>
            <div class="text-sm leading-normal mt-0 mb-2 text-blueGray-400 font-bold uppercase">
              <i class="fas fa-map-marker-alt mr-2 text-lg text-blueGray-400"></i>
              <%= profile.state %>
            </div>
            <% if (profile.social_link) { %>
            <div class="mb-2 text-blueGray-600 mt-10">
              <i class="fa fa-briefcase mr-2 text-lg text-blueGray-400"></i>
              <a href="<%= profile.social_link %>">
                <% if (profile.social_link.includes("instagram.com/")) { %>
                Connect on Instagram
                <% } else if (profile.social_link.includes("twitter.com/")) { %>
                Connect on Twitter
                <% } else if (profile.social_link.includes("facebook.com/")) { %>
                Connect on Facebook
                <% } else if (profile.social_link.includes("linkedin.com/")) { %>
                Connect on LinkedIn
                <% } else if (profile.social_link.includes("wa.me/")) { %>
                Connect on WhatsApp
                <% } else { %>
                Connect on other platforms
                <% } %>
              </a>
            </div>
            <% } %>
          </div>
          <div class="mt-10 py-10 border-t border-blueGray-200 text-center">
            <div class="flex flex-wrap justify-center">
              <div class="w-full lg:w-9/12 px-4">
                <p class="mb-4 text-lg leading-relaxed text-blueGray-700">
                  <% if (profile.bio) { %>
                  <%= profile.bio %>
                  <% } else { %>
                  No bio set
                  <% } %>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>	
  <!-- -->

  <!-- A container showing various options -->
  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap -m-4">
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-yellow-200 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="/media/1e.jpg" alt="content">
            <h3 class="tracking-widest text-yellow-500 text-xs font-medium title-font">1. Make yourself appealing</h3>
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Complete your profile.</h2>
            <p class="leading-relaxed text-base">Finish setting up your profile, if already done, keep the profile updated for finding newer mates.       
            </p>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-yellow-200 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="/media/2..png" alt="content">
            <h3 class="tracking-widest text-yellow-500 text-xs font-medium title-font">2. Browse</h3>
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Look through other users' profiles.</h2>
            <p class="leading-relaxed text-base">Take your time and browse the profiles of the users registered with us based upon your preffered location.</p>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-yellow-200 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="/media/3..jpeg" alt="content">
            <h3 class="tracking-widest text-yellow-500 text-xs font-medium title-font">3. Reach out</h3>
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Contact the profile you're interested in.</h2>
            <p class="leading-relaxed text-base">Once you find a profile that fits your needs, contact the person through the mentioned contact details.</p>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-yellow-200 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="/media/4..jpeg" alt="content">
            <h3 class="tracking-widest text-yellow-500 text-xs font-medium title-font">4. It's a Match</h3>
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Voila! You've got yourself a room mate</h2>
            <p class="leading-relaxed text-base">If everything works out well, congratulations on finding a room mate.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--  -->

  <!-- The footer section -->
  <footer class="text-gray-600 body-font">
    <div class="border-t border-gray-200">
      <div class="container px-5 py-8 flex flex-wrap mx-auto items-center">
        <span class="inline-flex lg:ml-auto lg:mt-0 mt-6 w-full justify-center md:justify-start md:w-auto">
          <a class="text-gray-500">
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
            </svg>
          </a>
          <a class="ml-3 text-gray-500">
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
            </svg>
          </a>
          <a class="ml-3 text-gray-500">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
              <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
            </svg>
          </a>
          <a class="ml-3 text-gray-500">
            <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
              <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
              <circle cx="4" cy="4" r="2" stroke="none"></circle>
            </svg>
          </a>
        </span>
      </div>
    </div>
    <div class="bg-gray-100">
      <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
        <p class="text-gray-500 text-sm text-center sm:text-left">© 2023 Cirlce Of Roomies —
          <a href="https://twitter.com/knyttneve" class="text-gray-600 ml-1" target="_blank" rel="noopener noreferrer">@shubhamsingh, @siddhisingh</a>
        </p>
        <span class="sm:ml-auto sm:mt-0 mt-2 sm:w-auto w-full sm:text-left text-center text-gray-500 text-sm">Live a happy hostel life!</span>
      </div>
    </div>
  </footer>
  <!-- -->

  <!-- The required javascript -->
  <script type="text/javascript" src="/js/basic.js"></script>
  <!--  -->
</body>
</html>